@import "lib.scss";

.playable-info {
    padding-bottom:			0.4em;
}

.playable-name {
}

.playable-round {
}

.playable-menu {
}

.playable-limit {
}

.playable-preview {
    width:              200px;
}

.playable-player-header {
    position:                           relative;
}

.playable-player-title {
}

span.icon-playable-history {
    background-image:                   url(/static/images/icons/History96.png);
}

span.icon-playable-chat { 
    background-image:                   url(/static/images/icons/Chat96.png); 
}

span.icon-playable-join {
  background-image:			url(/static/images/icons/Accept32.png);
}

.playable-player {
    padding: {
        left:                           5px;
        right:                          5px;
        bottom:                         0.4em;
    }

    hr {
        widht: 100%;
    }

    width:                              100%;
    border-left-width:                  1px; 
    border-right-width:                 1px;

    tbody {
        @include block();

        border-top-width:               0px;
        border-bottom-width:            0px;
    }

    tr:nth-child(even) {
        td {
            @include block();
            border-width:               0px;
        }
    }

    tr.even {
        td { 
            @include block();
            border-width:               0px;
        }
    }

    tr {
        td {
            width: 100%;
        }
    }
}
