@import "lib.scss";

/*
 * ----- ----- Menu
 */
.menu-widget {
    position:				fixed;
    right:				5px;
    top:				10%;
    margin-top:				-2.5em;
    padding-left:			10px;
    padding-right:			10px;
    z-index:				1000;

    div {
        position:			relative;

        a {
            img {
                width:			48px;
                height:			48px;
            }
        }
    }
}

.menu-alert {
    @include corners-top();
    @include corners-bottom();

    position:				absolute;
    right:				1px;
    top:				3px;
    min-width:				1em;
    text-align:				center;

    background-color:			red;
    color:                              white;

    font-size:				16px;
    font-weight:                        bold;

    display:                            none;

    padding:                            3px;
}  

/*
 * ----- ----- User names
 */
.user-online {
    font-weight:			bold;
    color:				$color_user_online;
}

.user-invited {
    color:				$color_user_invited;
}

.user-onturn {
    color:				$color_user_onturn;
}

/*
 * ----- ----- Talk
 */
.talk-dialog {
    @include corners-top();
    @include corners-bottom();

    color:                              $color_block_text !important;
    background:                         $color_block_background !important;
    border:                             1px solid !important;
    border-color:                       $color_border !important;

    margin:                             0px auto;
    z-index:                            1010;

    padding:				5px;

    background-image:			none !important;
    background-color:			$color_block_background !important;
}

.talk-dialog-posts {
    @include default-font();
    line-height:                        $font_size_text;
}

@media only screen and (max-width: 1285px) {
    .menu-widget {
        position:			absolute;
        top:				10px;
        margin-top:                     10px;
        padding: {
            left:			10px;
            right:			10px;
        }

        text-align:			center;

        hr {
            display:			none;
        }

    	div {
    	    display:			inline;
    	    float:			none;
    	}
    }

    .container {
        margin-top:			90px;
    }
}

@media only screen and (max-width: 767px) {
    .menu-widget {
        width:				90%;
        margin:				0px auto;
        position:			static;
    }

    .container {
        margin-top:			5px;
    }
}
