@import "lib.scss";

/*
 * ----- ----- Our defaults
 */
html {
    font-size:				100.01%;
}

body {
    font: {
      size:				75%;
      family:				"Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    color:				$color_block_text;
    background:				$color_background;
}

div {
    text-align:				justify;
}

/*
 * ----- ----- Layout
 *
 * based on "The 1140px Grid V2 by Andy Taylor" (http://cssgrid.net)
 */
div.prepend-top, .prepend-top {
    margin-top:				$margin_default;
}

div.append-bottom, .append-bottom {
    margin-bottom:			$margin_default;
}

.container {
    padding: {
        left:				20px;
        right:				20px;
    }
}

.row {
    width:				100%;
    max-width:				1140px;
    min-width:				755px;
    margin:				0 auto;
    overflow:				hidden;
}

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11 {
    margin-right:			3.8%;
    float:				left;
    min-height:				1px;
}

.prepend-1  { padding-left:		8.65%;  }
.prepend-2  { padding-left:		17.25%; }
.prepend-3  { padding-left:		25.85%; }
.prepend-4  { padding-left:		34.55%; }
.prepend-5  { padding-left:		43.25%; }
.prepend-6  { padding-left:		51.8%;  }
.prepend-7  { padding-left:		60.55%; }
.prepend-8  { padding-left:		69.2%;  }
.prepend-9  { padding-left:		77.85%; }
.prepend-10 { padding-left:		86.5%;  }
.prepend-11 { padding-left:		95.15%; }

.row .span-1 { width:			4.85%; }

.row .span-2 {
width: 13.45%;
}

.row .span-3 {
width: 22.05%;
}

.row .span-4 {
width: 30.75%;
}

.row .span-5 {
width: 39.45%;
}

.row .span-6 {
width: 48%;
}

.row .span-7 {
width: 56.75%;
}

.row .span-8 {
width: 65.4%;
}

.row .span-9 {
width: 74.05%;
}

.row .span-10 {
width: 82.7%;
}

.row .span-11 {
width: 91.35%;
}

.row .span-12 {
    width:				100%;
    float:				left;
}

.last {
    margin-right:			0px;
}

img, object, embed {
    max-width:				100%;
}

img {
	height: auto;
}

/*
 * ----- ----- Basic UI bits
 */
.left {
    float:				left !important;
}

.right {
    float:				right !important;
}

.corners-top {
    @include corners-top();
}

.corners-bottom {
    @include corners-bottom();
}

.hide {
    display:				none;
}

.centered {
  text-align:				center;
}

.red {
    color:				red;
}

.green {
    color:				#006400 !important;
}

label, .label {
    color:				$color_control_text;
    font-size:				$font_size_text;
    line-height:			$font_size_text;
    vertical-align:			middle;
}

p {
    display:				block;
    height:				auto;
    margin:				0.2em 0 0.5em;

    color:				$color_control_text;
    font-size:				$font_size_text;
    line-height:			$font_size_text;
    vertical-align:			middle;
}

.info-dialog {
    position:				absolute;
    top:				35%;
    margin:				0px auto;
    z-index:				1020;
}

ul {
    list-style-type:			none;
}

code {
    font-family:			$font_family_pre;
    font-size:                          $font_size_text_small;
}

/*
 * ----- ----- Ajax utils
 */
img.ajax_spinner {
    width:				32px;
    height:				32px;
    float:				right;
    margin:				0 10px 10px 10px;
}

div.ui-dialog-titlebar {
    display:				none;
}

.ui-icon-closethick {
//    background-image:			url(/static/images/icons/Close16.png);
    background-image:			none;

    width:				16px;
    height:				16px;

    display:                            inline-block;
    cursor:                             pointer;
    background-repeat:                  no-repeat;
    vertical-align:                     middle;

    background-size:                    100%,100%;
}

.ui-helper-hidden-accessible {
    display:				none;
}

/*
 * ----- ----- Tables with real content
 */
.content-table {
    width:				100%;

    cursor:				default;

    padding-top:			5px;
    padding-bottom:			5px;

    caption {
        @include control();
        @include corners-top();

        margin-bottom:			-5px;
    }

    thead {
        tr {
            th {
                @include control();

                font-size:		$font_size_text_small;
            }
        }
    }

    tbody {
        tr {
            @include block();

            border-top-width:		0px;
            border-bottom-width:	0px;

            &:hover {
                background:             $color_background none !important;

                td {
                    border-bottom:	dashed 1px $color_control_background !important;
                    border-top:		dashed 1px $color_control_background !important;

                    &:first-child {
                      border-left:	dashed 1px $color_control_background !important;
                    }

                    &:last-child {
                      border-right:	dashed 1px $color_control_background !important;
                    }
                }
            }

            td {
                padding-left:           3px;
                font-size:		$font_size_text_small;

                &:first-child {
                    border-left:        1px solid;
                    border-color:       $color_border;
                }

                &:last-child {
                    border-right:       1px solid;
                    border-color:       $color_border;
                }
            }

            &:last-child {
                td {
                    border-bottom:      1px solid;
                    border-color:       $color_border;

                    &:first-child {
                        @include corners-bottom-left();
                    }

                    &:last-child {
                        @include corners-bottom-right();
                    }
                }
            }
        }
    }
}

.content-table tbody tr > th:last-child {
    @include corners-top-right();
}

/*
 * ----- ----- Mobile and low-res media queries
 */
@media only screen and (max-width: 1023px) {
    body {
        font-size:			0.8em;
        line-height:			1.5em;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size:			16px;
        -webkit-text-size-adjust:	none;
    }

    .row, body, .container {
        width:				100%;
        min-width:			0;
        margin: {
            left:			0px;
            right:			0px;
        }
        padding: {
            left:			0px;
            right:			0px;
        }
    }

    .row .span-1, .row .span-2, .row .span-3, .row .span-4, .row .span-5, .row .span-6, .row .span-7, .row .span-8, .row .span-9, .row .span-10, .row .span-11, .row .span-12 {
        width:				auto;
        float:				none;
        margin: {
            left:			0px;
            right:			0px;
        }
        padding: {
            left:			0px;
            right:			0px;
        }
    }
}

.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }

.ui-autocomplete {
    @include corners-bottom();
    @include block();

    width:				100%;

    cursor:				pointer;

    padding-top:			5px;
    padding-bottom:			5px;
}

.ui-autocomplete li {
    font-size:				$font_size_text;

    padding-left:			5px;
    padding-top:			5px;
    padding-bottom:			5px;

    &:hover {
        background:			$color_background none !important;

        border-bottom:			dashed 1px $color_control_background !important;
        border-top:			dashed 1px $color_control_background !important;
    }
}

/*
 * Icons
 */
span.icon {
    @include corners-top();
    @include corners-bottom();

    display:				inline-block;
    cursor:				pointer;
    background-repeat:			no-repeat;
    vertical-align:			middle;

    background-size:			100%,100%;
}

span.icon-disabled {
    cursor:				default;

    opacity:				0.25;
    filter:				alpha(opacity=25);
}

span.icon-giant {
    width:                      64px;
    height:                     64px;
    max-width:			64px;
    max-height:			64px;
}

span.icon-large {
  width:                        48px;
  height:                       48px;
}

span.icon-medium {
  width:                        32px;
  height:                       32px;
}

/*
 * UI bits
 */
.framed {
    @include block();
    @include corners-top();
    @include corners-bottom();

    margin-bottom:                      5px;
    padding:                            5px;
}

.header, .ui-datepicker-header {
    @include control();
 
    cursor:                             pointer;
    padding:                            0.3em;
}

.info {
    @include block();
 
    display:                            block;
    padding:                            0.5em;
    margin:                             0px; 
    overflow:                           hidden;
    position:                           relative;
    text-align:                         left;
    height:                             1em; 
    cursor:                             default;
 
    border-top-width:                   0px;
    border-bottom-width:                0px;

    font-size:                          $font_size_text_small;
}
  
.info-with-border {
    &:hover {
        background:                     $color_background none !important;
        border:                         dashed 1px $color_control_background !important;
    }
}

.info-with-menu {
    height:                             32px;
    border-width:                       1px; 
     
    &:hover {
        background:                     $color_background none;
    }
}

.important-info {
    font-size:                            1.5em;
}
