@import "lib.scss";

.icon-i18n-remove-token {
    background:			url(/static/images/icons/Delete32.png);
}

.i18n-unused-tokens {
    height:			10em;
    overflow:			scroll;
}

.i18n-missing-tokens {
    height:			10em;
    overflow:			scroll;
}

span.icon-maintenance-access-revoke {
    background-image:		url(/static/images/icons/Delete32.png);
}

ul.maintenance-access-list {
    list-style-type:                    none;
}

.maintenance-access-list li:hover {
    background:                 $color_background none;
}

ul.maintenance-access-list > li:first-child {
    @include corners-top();
    border-top-width:                     1px !important;
}

ul.maintenance-access-list > li:last-child {
    @include corners-bottom();
    border-bottom-width:                  1px !important;
}
