@import "lib.scss";

@mixin token-list() {
    height:			15em;
    overflow:			auto;

    padding-left:		$padding_left_default;
}

.i18n-unused-tokens {
    @include token-list();
}

.i18n-missing-tokens {
    @include token-list();
}
