@import "lib.scss";

.game-player-header {
    padding-left:			5px;
}

.game-cards-header {
}

.board-column {
    min-width:				645px !important;
    max-width:				645px !important;
    min-height:				816px;
}

.menu-column {
}

.board-view {
    position:				relative;
}

.game-board {
}

.card-used {
    color:				red;
}

.card-unused {
    color:				green;
}

.card-menu {
    vertical-align:			middle;
}

.event-stamp {
  white-space:				nowrap;
}

@media (min-width: 979px) and (max-width: 1200px) {
    .board-column {
        margin-left:			2px;
        margin-right:			2px;
    }

    .menu-column {
        margin-left:			2px;
    }
}
