.game-info {
    padding-bottom:			0.4em;
}

.game-name {
}

.game-round {
}

.game-player {
    padding: {
        left:				5px;
        right:				5px;
        bottom:				0.4em;
    }
}

.game-player-header {
    position:				relative;
}

.game-player-title {
}

.game-cards-header {
}

.game-cards {
}

.game-cards {
    li:hover {
        background:			$color_background none;
    }
}
