@import "lib.scss";

.recent-events {
}

.recent-events li:hover {
    background:			$color_background none;
}

ul.recent-events > li:first-child {
    @include corners-top();
}

ul.recent-events > li:last-child {
    @include corners-bottom();
}

.playable-name {
}

.playable-menu {
}

.playable-preview {
    width:		200px;
}

span.icon-game-board {
    background-image:                   url(/static/images/icons/Board32.png);
}

span.icon-game-history {
    background-image:                   url(/static/images/icons/History32.png);
}

span.icon-game-chat {
    background-image:                   url(/static/images/icons/Chat32.png);
}
