.mediumListIconTextItem-Image {
    width:			60px;
    height:			60px;
    background-size:		auto 100%;
    background-repeat:		no-repeat;
}

.mediumListIconTextItem-Detail h4 {
    overflow:			hidden;
    max-width:			180px;
    white-space:		nowrap;
}

.rotate-left {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
