@import "lib.scss";

.monitor-namespace {
    padding-top:			5px;
    padding-bottom:			5px;
}

.monitor-namespace li:hover {
    background:				$color_background none;
}

ul.monitor-namespace > li:first-child {
    @include corners-top();
}

ul.monitor-namespace > li:last-child {
    @include corners-bottom();
}
