@import "lib.scss";

.colors {
    background: {
        repeat:					no-repeat;
        position:				bottom left;
    }
    padding-left:				25px;
}

.ui-datepicker-trigger {
    display:					none;
}

.ui-datepicker-header {
}

.ui-icon-closethick {
    display:					none;
}

span.icon-opponent-color-remove {
    background-image:           url(/static/images/icons/Delete32.png);
}

ul.opponent-colors-list {
}

.opponent-colors-list li:hover {
    background:                 $color_background none;
}

ul.opponent-colors-list > li:first-child {
    @include corners-top();
    border-top-width:                     1px !important;
}

ul.opponent-colors-list > li:last-child {
    @include corners-bottom();
    border-bottom-width:                  1px !important;
}
