@import "lib.scss";

.colors {
    background: {
        repeat:					no-repeat;
        position:				bottom left;
    }
    padding-left:				25px;
}

.ui-datepicker-trigger {
    display:					none;
}

.ui-datepicker-header {
}

.ui-icon-closethick {
    display:					none;
}
